
= render "devise/sessions/user-header"
.user-wrapper
  .user-menter-wrapper
    .user-menter-top
      ログイン
    .user-menter-bottom
      %form.user-menter-bottom__a
        .user-menter-bottom__a__nickname
          .user-menter-bottom__a__nickname__moji
        .user-menter-bottom__a__mailadress
          .user-menter-bottom__a__mailadress__moji
            .user-menter-bottom__a__mailadress__moji__mailadress
              メールアドレス
          %input{type: "text", class: "user-menter-mailadress", placeholder: "PC・携帯どちらでも可"}
        .user-menter-bottom__a__password
          .user-menter-bottom__a__password__moji
            .user-menter-bottom__a__password__moji__password
              パスワード
          %input{type: "text", class: "user-menter-password", placeholder: "7文字以上の半角英数字"}
          .user-menter-bottom__a__password__moji__settei
        .user-menter-bottom__a__checkbox
          %input{type: "checkbox", class: "user-menter-checkbox"}
          .user-menter-bottom__a__checkbox__password
            パスワードを表示する
        .user-menter-bottom__a__password
          .user-menter-bottom__a__password__moji
            .user-menter-bottom__a__password__moji__password
              パスワード
          %input{type: "text", class: "user-menter-password", placeholder: "7文字以上の半角英数字"}
          .user-menter-bottom__a__password__moji__settei
        .user-menter-bottom__a__checkbox
          %input{type: "checkbox", class: "user-menter-checkbox"}
          .user-menter-bottom__a__checkbox__password
            パスワードを表示する
        .user-menter-bottom__a__submit-btn
          = link_to "登録する", root_path, class: "user-menter-submit-btn"
= render "devise/sessions/user-footer"
