.TSheader
  .TSheader_inner
    .TSheader_inner_main
      %h1.TSheader_inner_main_icon
        = link_to root_path do
          = image_tag "logo.png", class:"image"
      -# フォーム未実装
      .TSheader_inner_main_search
        %form
          = link_to "#" do
            %input{type:"text", class: "box", placeholder: 'search for keyword'}
            %button{type:"submit", class: "btn"}
              =image_tag "icon-search 1.png", class: "image", size: "20*20"
    .TSheader_inner_nav
      %ul.TSheader_inner_nav_left
        %li.TSheader_inner_nav_left_list
          =link_to "#" do
            カテゴリー
          .TSheader_inner_nav_left_list_contents
        %li.TSheader_inner_nav_left_item
          =link_to "#" do
            ブランド

    

    
