.header
  .header_inner
    .header_inner_main
      %h1.header_inner_main_icon
        = link_to "#" do
          .header_inner_main_icon_link
      .header_inner_main_search
        = f.search_field :name_cont, class: 'header_inner_main_search_box', id: 'search-query', placeholder: 'キーワードから探す'
          = button_tag type: 'submit', class: 'hidden' do
            %i.fa.fa-search 