= render "shared/header"
.hder
  .hder-nav
    .hder-nav-box
      .hder-nav-box__site
        FURIMA
        %i.fa.fa-chevron-right
      .hder-nav-box__mype
        マイページ
.l
  = render "shared/sidebar"
  .logout
    .logout-content
      .logout-content-message
        .logout-content-message-text
          ログアウト
