.user-wrapper
  .user-wrapper-new-c
    .user-menter-top
      住所の確認
    .user-menter-bottom
      %form.user-menter-bottom__a
        .user-menter-bottom__a__nickname
          .user-menter-bottom__a__nickname__moji
            .user-menter-bottom__a__nickname__moji__nickname
              都道府県
          %input{type: "text", class: "user-menter-nickname", placeholder: "都道府県を入力"}
          .user-menter-bottom__a__nickname__moji
            .user-menter-bottom__a__nickname__moji__nickname
              市区町村
          %input{type: "text", class: "user-menter-nickname", placeholder: "市区町村を入力"}
          .user-menter-bottom__a__nickname__moji
            .user-menter-bottom__a__nickname__moji__nickname
              番地・マンション
          %input{type: "text", class: "user-menter-nickname", placeholder: "マンション・番地を入力"}
          .user-menter-bottom__a__group__ansin__b
          %input{type: "submit", class: "user-menter-submit-btn-abc", value: "登録"}