.user-wrapper
  .user-user-footer
    = link_to "プライバシーポリシー", root_path, class: "user-privacy-link"
    = link_to "メルカリ利用規約", root_path, class: "user-privacy-link"
    = link_to "特定商取引に関する表記", root_path, class: "user-privacy-link"
    .user-footer-merukari
      = image_tag "material/logo/logo-white.png", class: "user-logologo"
    .user-footer-ink
      © Mercari, Inc.