
.l-container {
  margin: 70px auto 0;
  width: 1020px;
  display: block;
  .l-content {
    width: 700px;
    float: right;
    .l-chapter-container{
      margin: 0;
      background: #fff;
      &__head {
        font-size: 24px;
        padding: 8px 24px;
        border-bottom: 1px solid #f5f5f5;
        text-align: center;
      }
      .l-single-inner {
        padding: 64px;
        border-top: 1 solid #f5f5f5;
      }
        .l-single {
          display: block;
          &--content {
            min-width: 320px;
            margin: 0 auto;
            .payment-list {
              display: block;
            }
          }
        }
        .from-content {
          display: flex;
      }
    }
  }
}
.delete-btn {
  padding: 4px 6px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #3CCACE;
  color: #3CCACE;
  float: right;
  cursor: pointer;
}