.buy-main {
  display: block;
  background: gainsboro;
  &__box {
    width: 700px;
    background-color: #fff;
    margin: 0 auto;
    .buy-content {
      display: block;
      padding: 0px 16px;
      border-top: 1px solid #f5f5f5;
      min-width: 343px;
      &__title {
        padding: 32px;
        font-size: 22px;
        text-align: center;
        font-weight: bold;
      }
        &__item {
          border-top: 1px solid #f5f5f5;
          text-align: center;
          padding: 32px 16px;
          &__inner {
            max-width: 343px;
            margin: 0 auto;
            .buy-item-main {
              display: flex;
              .buy-item-image {
                max-width: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
              }
              .buy-item-detail {
                margin-left: 16px;
                text-align: left;
                line-height: 1.5;
                .buy-item-name {
                  font-size: 14px;
                }
              }
            }
          }
        }
        form {
          display: block;
        }
          .buy-form {
            max-width: 343px;
            margin: 0 auto;
            .buy-price {
              margin: 0;
              text-align: left;
              font-size: 15px;
              font-weight: 600;
              span {
                font-size: 15px;
                font-weight: 400;
                margin: 0 0 0 8px;
              }
            }                          
            .buy-price-table {
              display: flex;
              width: 100%;
              font-weight: bold;
              &__left {
                padding: 24px 0 0;
                flex: 18px;
                width: 50%;
                text-align: left;
              }
              &__right {
                padding: 16px 0;
                font-size: 28px;
                width: 50%;
                text-align: right;
                font-weight: 600;
              }
            } 
          }          
          &__user-info {
            padding: 32px 0;
            border-top: 1px solid #f5f5f5;
            text-align: left;
            &__inner {
              min-width: 320px;
              margin: 0 auto;
              h3 {
                font-size: 14px;
                float: left;
              }
              .user-info-text {
                margin: 8px 0 0;
                font-size: 13px;
                line-height: 1.4;
              }
              .user-info-update {
                text-align: right;
                font-size: 14px;
                a {
                  color: #3CCACE;
                  text-decoration: none;
                }
                .update-btn:hover {
                  text-decoration: underline;
                  opacity: 0.6;
                }
              }
            }
          }
        }
      }
    }
    .buy-button {
      font-weight: bold;
      text-align: center;
      line-height: 48px;
      background: #3CCACE;
      border: 1px solid #3CCACE;
      color: #fff;
      width: 100%;
      font-size: 18px;
      border-radius: 100px;
    }

