* {
  box-sizing: border-box;
}

.TSmain_banner{
  height: 100%;
  margin-bottom: -6px;
  margin-top: -24px;
  
  
  &_contents{
    margin-top: -280px;
    color: #fff;
    text-align: center;

    &_title{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 23px;
      font-weight: bold;
      line-height: 1.4;
    }

    &_txt{
      font-size: 34px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }

    &_icon{
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px auto 0;

      .app{
        width: 180px;
        margin-right: 10px;
                 
        .image{
          width: 100%;
          vertical-align: bottom;
        }
      }
      .google{
        width: 180px;

        .image{
          width: 100%;
          vertical-align: bottom;
        }
      }
    }
  }
}

.TSfooter {
  padding: 160px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  
  &_content {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    
    &_uno{
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      
      &_head{
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }

      &_content{
        list-style: none;
        margin: 0 auto;
        li{

          a{
            color: #fff;
            text-decoration: none;
            font-size: 12px;
            line-height: 32px;
          }
        }
      }    
    }
  }

  &_icon{
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    img{
      width: 100%;
      vertical-align: bottom;
    }
  }
  
  p{
    font-size: 14px;
  }
}