* {
  box-sizing: border-box;
}

.TSheader{ 
  padding: 0 60px;

  &_inner{
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    
    &_main{
      position: relative;
      display: flex;
      align-items: center;

      &_icon{
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;

        .image{
          width: 140px;
          display: block;
        }
      }
        
      &_search{
        margin-left: auto;
        width: 100%;
        position: relative;
          
        form{
          width: 100%;
          display: flex;
          margin-bottom: 5px;

          a{
            width: calc(100% - 18px);
            height: 36px;            

            input{
              width: calc(100% - 18px);
              height: 36px;
              font-size: 14px;
              padding: 0 0 0 5px;
            }

            button{
              position: absolute;
              width: 36px;
              border: 0;
              cursor: pointer;
              background-color: #3CCACE;
              padding: 8px;  
              float: right;
            
              img{
                width: 100%;
                vertical-align: bottom;
              }
            }
          }
        }
      }
      
      &_nav{
        font-size: 13px;
        display: flex;
        margin-bottom: 10px;

        &_left{
          position: relative;
          display: flex;

          &_list{
            color: #333;
            text-decoration: none; 

            a{
              color: #333;
              text-decoration: none;
              line-height: 32px;
              background-position: center right;
              background-repeat: no-repeat;
              background-size: 18px;
              padding-right: 30px;              
            }

            &_menu{
              z-index: 2;
              position: absolute;
              background-color: #fff;
              width: 240px;
              top: 40px;  
              
              &_tree{
                background-color: #fff;
                display: flex;
                margin: 0 Auto;
                flex-direction: column;
                position: relative;      
                
                li{
                  position: relative;
                  line-height: 40px;
                  display: block;
                  width: 240px;
                  padding: 0px 8px 0px 5px;
                  border-bottom: 1px solid #f8f8f8;
                }
              }
            }
          }

          &_item{
            display: flex;
            line-height: 38px;
            padding: 0 0 0 16px; 
            
            a{
              color: #333;
              text-decoration: none;
              line-height: 32px;
              background-position: center right;
              background-repeat: no-repeat;
              background-size: 18px;
              padding-right: 30px;              
            }
          }
        }

        &_right{
          margin-left: auto;
          display: flex;
          
          &_login{
            color: #333;
            line-height: 38px;
            padding: 0 0 0 16px;

            a{
              display: flex;
              align-items: center;
              color: #333;
              text-decoration: none;
              line-height: 32px;              
            }
          }

          &_new{
            color: #333;
            line-height: 38px;
            padding: 0 0 0 16px;
            
            a{
              display: flex;
              align-items: center;
              color: #333;
              text-decoration: none;
              line-height: 32px;              
            }
          }
        }
      }
    }
  }
}