* {
  box-sizing: border-box;
}

.header{ 
  padding: 0 60px;

  &_inner{
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    
    &_main{
      position: relative;
      display: flex;
      align-items: center;

      &_icon{
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;

        .image{
          width: 140px;
          display: block;
        }

         &_search{
          margin-left: auto;
          width: 100%;
          
          .box{
            width: calc(100% - 26px);
            height: 36px;
            padding: 0 0 0 5px;
          }
        }
      }
      &_nav{
        font-size: 14px;
        display: flex;
        margin-bottom: 10px;

        &_left{
          position: relative;
          display: flex;

          &_list{
            color: #333;
            text-decoration: none; 

            .box{
              color: #333;
              text-decoration: none;
              line-height: 32px;
              background-position: center right;
              background-repeat: no-repeat;
              background-size: 18px;
              padding-right: 30px;              
            }

            &_contents{

            }
          }
        }
      }
    }
  }
}