.logout {
  float: right;
  border: 1px solid #eee;
  width: 700px;
  margin-top: 40px;
  &-content {
    line-height: 100px;
    text-align: center;
    margin: 60px 0px 60px 0px;
    width: 500px;
    &-message {
      width: 300px;
      margin-left: 200px;
      &-text {
        color: white;
        background-color:#3ccace;
        line-height: 50px;
        &:hover {
          background-color:#FAFAFA;
          cursor: pointer;
        }
        a {
          text-decoration: none;
        }
      }
    }
  }
}