.buy-content__attention {
  display: block;
  padding: 0px 16px;
  border-top: 1px solid #f5f5f5;
  min-width: 343px;
  background: #fffacd;
  text-align: center;
  line-height: 80px;
  margin-top: 15px;
  font-size: 25px;
  &__title {
    padding: 32px;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
  }
}

.buy-content__user-info__submit {
  font-weight: bold;
  text-align: center;
  line-height: 48px;
  background: #3CCACE;
  border: 1px solid #3CCACE;
  width: 100%;
  font-size: 18px;
  border-radius: 100px;
  cursor: pointer;
  a {
    text-decoration: none;
    color: #fff;
  }
}


